
#texto{
  font-size: larger;
  padding-bottom: 15px;
}

#toDoInput {
  outline: none;
  width: 90%;
  padding-left: 10px;
  font-size: 20px;
  border: none;
  border-radius: 4px;
}





.toDoShell {
  
  display: flex;
  justify-content: space-around;
  align-items: center;

 
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}
